---
layout: default
permalink: /chairs/
---
<h1 class="page-heading">Chairs</h1>

<p>
	<strong>Tags:</strong>
	<span onClick="$items.isotope({ filter: '*' })">any</span>
	<span onClick="$items.isotope({ filter: '.wood' })">wood</span>
	<span onClick="$items.isotope({ filter: '.metal' })">metal</span>
	<span onClick="$items.isotope({ filter: '.stackable' })">stackable</span>
	<span onClick="$items.isotope({ filter: '.lounge' })">lounge</span>
</p>

<ul class="items">
	{% for page in site.pages %}
		{% if page.layout == "seat" %}
		<li class="{{ page.tags }}">
			<img src="{{ site.baseurl }}/assets/content/chairs/{{ page.image }}">

			<h4><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h4>
		</li>
		{% endif %}
	{% endfor %}
</ul>