---
layout: page
title: Chairs &amp; Seating
permalink: /chairs/
excerpt: Visit us to find a range of well designed chairs at fair prices. Our chairs come in styles to suit rooms of all shapes and sizes.
---
<div class="grid">

	<div class="col-3-4">

		<p class="tags">
			<strong>Filters:</strong>
			<span class="filter" data-filter="all">all</span>
			<span class="filter" data-filter=".wood">wood</span>
			<span class="filter" data-filter=".metal">metal</span>
			<span class="filter" data-filter=".stackable">stackable</span>
			<span class="filter" data-filter=".lounge">lounge</span>
		</p>

	</div>

	<div class="col-1-4">

		<p class="content-right">
			<a href="{{ site.baseurl }}/chairs/options/">Colors & Fabrics</a>
		</p>

	</div>

</div>

<ul id="items" class="grid left">

	{% for page in site.pages %}
		{% if page.type == "chair" %}

		<li class="mix col-1-4 {{ page.tags }}">

			<div>

				<img src="{{ site.baseurl }}/assets/content/{{ page.image }}">

				<h4><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h4>

			</div>

		</li>

		{% endif %}
	{% endfor %}

</ul>