---
layout: page
title: Tables
permalink: /tables/
excerpt: Visit us to find a range of well designed tables at fair prices. Our tables come in different finishes with a large selection of table bases to choose from.
---
<div class="grid">

	<div class="col-1-2">

		<p class="tags">
			<strong>Tags:</strong>
			<span class="filter" data-filter="all">all</span>
			<span class="filter" data-filter=".base">base</span>
			<span class="filter" data-filter=".table">table</span>
		</p>

	</div>

	<div class="col-1-2">

		<p class="content-right">
			<a href="{{ site.baseurl }}/tables/options/">Table Options</a>
		</p>

	</div>

</div>

<ul id="items" class="grid left">

	{% for page in site.pages %}
		{% if page.type == "table" %}

		<li class="mix col-1-4 {{ page.tags }}">

			<div>

				<img src="{{ site.baseurl }}/assets/content/{{ page.image }}">

				<h4>
					<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				</h4>

			</div>

		</li>

		{% endif %}
	{% endfor %}

</ul>