<footer id="site-footer">

	<div class="grid">

		<div class="col-3-5">
			<h3>{{ site.title }}</h3>

			<p class="text">{{ site.description }}</p>
		</div>

		<div class="col-2-5">
			<h3>Get in Touch</h3>

			<ul>
				<li><i class="fa fa-phone-square"></i>416-744-5058</li>
				<li><i class="fa fa-envelope-square"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				<li><i class="fa fa-facebook-square"></i><a href="https://www.facebook.com/pages/Senior-Chairs/143615069138857">facebook.com/seniorchairs</a></li>
			</ul>
		</div>

	</div>

	<hr>

	<div class="copyright">
		<span>&copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">Senior Chairs</a></span>
		<!--<span>Site by <a href="http://www.erikwebdesign.com">Erik Berkun-Drevnig</a></span>-->
	</div>

</footer>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/combined.min.js"></script>