<footer id="site-footer">

	<div class="wrapper grid">

		<div class="col-3-5">
			<h3>{{ site.title }}</h3>

			<p class="text">{{ site.description }}</p>
		</div>

		<div class="col-2-5">
			<h3>Get in Touch</h3>

			<ul>
				<li class="fa-phone">416-744-5058</li>
				<li class="fa-envelope"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				<li class="fa-facebook"><a href="https://www.facebook.com/pages/Senior-Chairs/143615069138857">facebook.com/seniorchairs</a></li>
			</ul>
		</div>

	</div>

	<hr class="wrapper">

	<div style="text-align:center; display:block; margin-top: 20px;">
		&copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">Senior Custom Upholstery</a>
	</div>

	<div style="text-align:center; display:block;">
		Site by <a href="http://www.erikwebdesign.com">Erik Berkun-Drevnig</a>
	</div>

</footer>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/combined.min.js"></script>