<header id="site-header">
	<nav>
		<ul class="grid">
			<li class="col-1-8"><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
			<li class="col-1-8"><a href="{{ site.baseurl }}/chairs/">Chairs</a></li>
			<li class="col-1-8"><a href="{{ site.baseurl }}/barstools/">Barstools</a></li>
			<li class="col-1-8"><a href="{{ site.baseurl }}/booths/">Booths</a></li>
			<li class="col-1-8"><a href="{{ site.baseurl }}/tables/">Tables</a></li>
			<li class="col-1-8"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
		</ul>
	</nav>
</header>