.switcher {
	clear: both;
	position: relative;
	padding-top: 291px;
}

.sample {
	float: left;

	label {
		height: 40px;
		width: 40px;
		display: block;
		margin: 0 10px 10px 0;
		cursor: pointer;
	}

	div {
		position: absolute;
		top: 0;
		left: 0;
		border: 3px solid #ddd;
		transition: 0.5s linear;
		opacity: 0;
	}

	[type="radio"] {
		display: none;
	}

	[type="radio"]:checked ~ label {
		border: 3px solid #ddd;
	}

	[type="radio"]:checked ~ label ~ div {
		opacity: 1;
	}
}

/**
 * Vinyl Sprite Coordinates
 */
.vinyl {

	.sample {

		div,
		label {
			background-image: url('../content/vinyl-sprite.jpg');
			background-size: 271px auto;
		}

		div {
			height: 271px;
			width: 271px;
		}
	}

	.cao05 {
		background-position: 0 0;
	}

	.cao29 {
		background-position: 0 1*271px;
	}

	.cao11 {
		background-position: 0 2*271px;
	}

	.cao28 {
		background-position: 0 3*271px;
	}

	.cao06 {
		background-position: 0 4*271px;
	}

	.cao03 {
		background-position: 0 5*271px;
	}

	.cao16 {
		background-position: 0 6*271px;
	}

	.cao10 {
		background-position: 0 7*271px;
	}

	.cao23 {
		background-position: 0 8*271px;
	}

	.cao04 {
		background-position: 0 9*271px;
	}

	.cao13 {
		background-position: 0 10*271px;
	}

	.cao18 {
		background-position: 0 11*271px;
	}

	.cao24 {
		background-position: 0 12*271px;
	}

	.cao02 {
		background-position: 0 13*271px;
	}

	.cao27 {
		background-position: 0 14*271px;
	}

	.cao19 {
		background-position: 0 15*271px;
	}

	.cao17 {
		background-position: 0 16*271px;
	}

	.cao21 {
		background-position: 0 17*271px;
	}

	.cao12 {
		background-position: 0 18*271px;
	}

	.cao20 {
		background-position: 0 19*271px;
	}

	.cao15 {
		background-position: 0 20*271px;
	}

	.cao14 {
		background-position: 0 21*271px;
	}

	.cao01 {
		background-position: 0 22*271px;
	}

	.cao22 {
		background-position: 0 23*271px;
	}

	.cao07 {
		background-position: 0 24*271px;
	}

	.cao08 {
		background-position: 0 25*271px;
	}

	.cao26 {
		background-position: 0 26*271px;
	}

	.cao25 {
		background-position: 0 27*271px;
	}

	.cao09 {
		background-position: 0 28*271px;
	}
}

/**
 * Stain Sprite Coordinates
 */
.stains {

	.sample {

		div,
		label {
			background-image: url('../content/stain-sprite.jpg');
			background-size: 110px auto;
		}

		div {
			height: 110px;
			width: 110px;
		}
	}

	.natural {
		background-position: 0 0;
	}

	.cherry {
		background-position: 0 110px;
	}

	.mahogany {

	}

	.mahogany-dark {

	}

	.walnut {

	}
}

/**
 * Fabric Sprite Coordinates
 */
.fabrics {

	.sample {

		div,
		label {
			background-image: url('../content/fabrics-sprite.jpg');
			background-size: 80px auto;
		}

		div {
			height: 80px;
			width: 80px;
		}
	}

	.cactus {
		background-position: 0 0;
	}

	.emerald {
		background-position: 0 80px;
	}
}
