/**
 * Site Header
 */
#site-header {
	@extend .wrapper;
	background: url('images/header.jpg') no-repeat center top;
	padding-top: 250px;
	margin-top: $separator;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	nav {
		padding: 0 $separator;
		border-bottom: 1px solid #000;
		border-top: 2px ridge #848484;
		background: -webkit-linear-gradient(#585858, #3d3d3d);
		background: linear-gradient(#484848, #3d3d3d);
	}

	ul {
		@extend .cf, .bl;
	}

	li {
		padding: 0;
	}

	nav a {
		color: white;
		line-height: 40px;
		text-align: center;
		display: block;
	}
}


/**
 * Site Footer
 */
#site-footer {
	@extend .wrapper;
	border-top: 1px solid #eee;
	padding: $separator;

	ul {
		@extend .bl;
		white-space: nowrap;
		margin-bottom: $separator;
	}

	p {
		text-align: left;
	}

	hr {
		margin: 0 (-$separator);
	}

	.fa:before {
		display: inline-block;
		text-align: center;
		margin: 0 1rem 0 0;
		width: 16px;
	}
}

.copyright {
	margin: $separator 0 0 0;

	span {
		display: block;
		text-align: center;
	}
}

/**
 * Content
 */
#content {
	@extend .wrapper;
	background: white;
	padding: $separator $separator 0;
	border-bottom: 1px solid #9A9A9A;
}

.post-meta {
	font-size: $font-small;
	color: $color-grey;
}

.post-link {
	display: block;
	font-size: 24px;
}


/**
 * Category Page
 */
#items {
	@extend .bl;

	img {
		margin: ($separator / 2) auto;
		max-width: none;
		height: 200px;
		border: 0;
	}

	li div {
		border: 3px solid $color-grey;
		overflow-x: hidden;
	}

	h4 {
		border-top: 3px solid $color-grey;
		text-align: center;
	}
}


/**
 * Item Page
 */
.item img {
	border: 0;
	margin: auto;
}


/**
 * Filter Buttons
 */
.tags {
	margin-right: 5px;
}

.filter {
	padding: 1rem;
	font-family: $font-family-alt;
	border-top: 2px solid $color-grey;
	background: $color-grey;
	border-radius: 2px;
	letter-spacing: 1px;
	font-size: $font-small;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.filter:hover,
.filter.active {
	border-top: 2px solid $color-brand;
	background: $color-brand-light;
	color: white;
}