---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/**
 * Variables
 */
$font-family: "Noto Serif", Georgia, serif;
$font-family-alt: "Trebuchet MS", "Lato", sans-serif;

$font-size: 1.6rem;
$font-small: 1.2rem;
$line-height: 2.6rem;
$separator: 2rem;

$color-brand: #ba2438;
$color-brand-light: lighten($color-brand, 20%);
$color-grey: #ddd;


/**
 * Imports
 */
@import "normalize";
@import "grid";
@import "base";
@import "layout";